body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
}

.container {
  width: 800px;
  margin: 100px auto 0 auto;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.form-container .todo-input {
  width: 75%;
  height: 50px;
  padding-left: 25px;
  font-size: 24px;
  border-radius: 10px;
}

.form-container .add-todo {
  width: 15%;
  border-radius: 10px;
  border: 1px solid black;
  background-color: blue;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.form-container .add-todo:hover {
  background-color: darkblue;
}

.todos-container {
  margin-top: 25px;
}

.single-todo {
  border: 1px solid black;
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  font-size: 24px;
}

.single-todo .delete {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 24px;
  cursor: pointer;
}